.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  width: 1;
  transition: 0.2s opacity;
}

.icon {
  fill: var(--inverted-primary-color);
  width: 20px;
  height: 20px;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }
}
