.list {
  .card {
    margin-bottom: 30px;
  }
}

.skeleton {
  padding-bottom: 30px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}
