.app_chocolate_theme {
  --bg-color: #e5d3b3;
  --inverted-bg-color: #372c2e;
  --primary-color: #4a2c2a;
  --secondary-color: #6a4744;
  --inverted-primary-color: #f7f4fb;
  --inverted-secondary-color: #f7f4fb;
  --theme-icon-color: #e5d3b3;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: rgba(255 255 255 / 40%);
  --skeleton-shadow: rgba(55 44 46 / 20%);

  // code
  --code-bg: #f2eadd;

  // card
  --card-bg: #f1e6d3;

  // listbox
  --listbox-bg: #f1e6d3;
  --listbox-shadow: rgba(55 44 46 / 20%);
}
