.app_chocolate_theme {
  --bg-color: #e5d3b3;
  --inverted-bg-color: #372c2e;
  --primary-color: #4a2c2a;
  --secondary-color: #6a4744;
  --inverted-primary-color: #f7f4fb;
  --inverted-secondary-color: #f7f4fb;
  --theme-icon-color: #e5d3b3;

  // skeleton
  --skeleton-color: rgba(255 255 255 / 40%);
  --skeleton-shadow: rgba(55 44 46 / 20%);

  // code
  --code-bg: #f2eadd;

  // card
  --card-bg: #f1e6d3;
}
