.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.dropdown {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
  line-height: 50px;
  text-align: center;
  background: white;
}
